* {
  box-sizing: border-box;
}

.top-page-header {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-log-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

ul.ddmenu li {
  width: 180px;
  display: inline-block;  /* ★1:横並びに配置する */
  list-style-type: none;  /* ★2:リストの先頭記号を消す */
  position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
  color: #191970;              /*メニュー項目の文字色(白色) */
  line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
  text-align: center;        /*メインメニューの文字列の配置(中央寄せ) */
  text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
  display: block;            /* ★4:項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
  background-color: #f0f8ff;
  color: #191970;
}
.dd-login {
  margin-left: 45px;
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
  display: none;       /* ★1:標準では非表示にする */
  margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
  padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
  position: absolute;  /* ★4:絶対配置にする */
}

ul.ddmenu li:hover ul {
  display: block;
}

ul.ddmenu ul li {
  width: 180px;
  border-top: 1px solid pink;
}

ul.ddmenu ul li a {
  line-height: 35px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
  width: 180px;
}

ul.ddmenu ul li a:hover {
  background-color: #ffff80;
  color: #005500;
}