<%= render "shared/header"%>

<div class='title-contents'>
  <h2 class='service-title'>
    GOAL-LOG
  </h2>
  <p class='service-explain'>
    誰でも簡単に目標達成できる
  </p>
  <p class='service-explain'>
    認知科学に基づいたタスク管理アプリです
  </p>
</div>
<%# //画面上部の「人生を変えるフリマアプリ」帯部分  %>

<%= render "shared/footer"%>