.user-edit-profile {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-top: 3vh;
}

.user-edit-area {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.avatar_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}